registry=https://ndscodecentral.pkgs.visualstudio.com/TCPL.FBVA/_packaging/TCPL.FBVA/npm/registry/
always-auth=true
# ; begin auth token
# //ndscodecentral.pkgs.visualstudio.com/TCPL.FBVA/_packaging/TCPL.FBVA/npm/registry/:username=ndscodecentral
# //ndscodecentral.pkgs.visualstudio.com/TCPL.FBVA/_packaging/TCPL.FBVA/npm/registry/:_password=YmJud2ZwY2N2c3lsdXUyY2ptaHRiY3I2YW13bHhmeDV4eTZ2eDJ1anU3cHliczI2cmw1cQ==
# //ndscodecentral.pkgs.visualstudio.com/TCPL.FBVA/_packaging/TCPL.FBVA/npm/registry/:email=divyanshu.saini@ndsglobal.com
# //ndscodecentral.pkgs.visualstudio.com/TCPL.FBVA/_packaging/TCPL.FBVA/npm/:username=ndscodecentral
# //ndscodecentral.pkgs.visualstudio.com/TCPL.FBVA/_packaging/TCPL.FBVA/npm/:_password=YmJud2ZwY2N2c3lsdXUyY2ptaHRiY3I2YW13bHhmeDV4eTZ2eDJ1anU3cHliczI2cmw1cQ==
# //ndscodecentral.pkgs.visualstudio.com/TCPL.FBVA/_packaging/TCPL.FBVA/npm/:email=divyanshu.saini@ndsglobal.com
# ; end auth token

# registry=https://pkgs.dev.azure.com/ndscodecentral/TCPL.FBVA/_packaging/TCPL.FBVA/npm/registry/ 
                        
# always-auth=true